/* COLORS */

$paleBlue : hsl(225, 100%, 94%); /* Azul pálido - background */
$brightBlue: hsl(245, 75%, 52%); /* Azul brillante - boton */
$veryPaleBlue: hsl(225, 100%, 98%); /* Azul muy pálido - fondo annual plan */
$desaturatedBlue: hsl(224, 23%, 55%); /* letras */
$darkBlue: hsl(223, 47%, 23%); /* azul oscuro */

