@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
body {
  font-family: 'Red Hat Display', sans-serif; }

p {
  font-size: 16px; }

body {
  margin: 0px; }

/* COLORS */
/* Azul pálido - background */
/* Azul brillante - boton */
/* Azul muy pálido - fondo annual plan */
/* letras */
/* azul oscuro */
/* COLORS */
/* Azul pálido - background */
/* Azul brillante - boton */
/* Azul muy pálido - fondo annual plan */
/* letras */
/* azul oscuro */
body {
  background-image: url("/assets/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-color: #e0e8ff; }

.card {
  margin: 60px 20px;
  background-color: white;
  height: 660px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 12px 30px -2px #7280a7; }
  @media screen and (width: 375px) {
    .card .heroSection {
      width: 335px;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px; } }
  .card .textCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .card .textCard .titleCard {
      font-weight: 900;
      font-size: 25px; }
    .card .textCard .pCard {
      color: #7280a7;
      font-weight: 700;
      line-height: 2;
      margin: 0px 25px; }
  .card .cardPlan {
    background-color: #f5f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 20px;
    border-radius: 19px;
    height: 100px; }
    .card .cardPlan .imgCardPlan {
      flex-grow: 1;
      margin-left: 15px; }
    .card .cardPlan .textDirection {
      text-align: start;
      flex-grow: 1;
      margin-left: 15px; }
      .card .cardPlan .textDirection .cardPlan-title {
        font-weight: 900;
        font-size: 15px;
        margin: 0px 0px 5px 0px; }
      .card .cardPlan .textDirection .cardPlan-p {
        font-weight: 500;
        font-size: 15px;
        margin: 0px;
        color: #7280a7; }
    .card .cardPlan .cardPlan-link {
      font-size: 14px;
      font-weight: 700;
      margin-right: 15px;
      flex-grow: 2;
      cursor: pointer; }
      .card .cardPlan .cardPlan-link:visited {
        color: #6359c9; }
  .card .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 25px 20px; }
  .card .btnPrimary {
    height: 60px;
    border-color: transparent;
    border-radius: 10px;
    background-color: #3829e0;
    color: #f5f7ff;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0 12px 30px -2px #7280a7;
    cursor: pointer; }
    .card .btnPrimary:hover {
      background-color: #6359c9; }
  .card .btnSecondary {
    height: 60px;
    border-color: transparent;
    border-radius: 10px;
    background-color: transparent;
    color: #7280a7;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer; }
    .card .btnSecondary:hover {
      color: black; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }
